<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assests/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../assests/bootstrap/js/bootstrap.js">
    <link rel="stylesheet" href="../assests/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assests/bootstrap/js/bootstrap.min.js">
    <title>home</title>

    <style>
        body{
            position: relative;
        }

        h1{
            font-family: 'Poppins' , sans-serif;
            font-weight: bolder;

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    </style>
</head>
<body>
<h1>
    Welcome to POS System
</h1>
</body>
</html>